html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

#app,
html,
body {
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  font-family:monospace;
}
body{
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}


#app{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 3rem;
    overflow: hidden;
    min-height: 100vh;
    /* Changes in media query to double this */
    max-height: 100vh;
}

#chat-main{
    flex-grow: 1;
    /* can grow as big as needed */
    overflow: hidden;
}

#header {
    background: linear-gradient(334deg, #2B616D, #becfc5);
    grid-column: 1 / span 1;
    grid-row: 1 / 1;
    display:flex;
    justify-content: center;
    align-items: center;
}
#footer {
    grid-column: 1 / span 1;
    grid-row: 3 / 3;
    background: linear-gradient(161deg, black, transparent);
    background-size: 200%;
}
#chat{
    height: 100%;
    grid-column: 1 / span 1;
    grid-row: 2 / 2;
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 1fr;
}
#privateWindow {
    display:none;
    background-color: #596c75;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    overflow: auto;
    height: 100%;
}
#privateHeader {
    text-align: center;
    font-size: 20px;
}
#privateTitle{
    display:inline-block;
    margin:5px;
}
#privateExit{
    float:right;
    margin:5px;
}
#privateForm {
    z-index: 1;
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}
#privateForm > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }
#privateInput { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
#privateInput:focus { outline: none; }
#privateMessages {
    list-style-type: none;
    margin:0;
    padding:20px;
}

#privateMessages > li { 
    border: groove;
    padding: 15px;
    border-radius: 14px;
    width: fit-content;
    margin-bottom: 12px;
}


#messageWindow{
    background: linear-gradient( 271deg, #2B616D, #becfc5);
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    overflow: auto;
    height: 100%;
}

#userWindow{
    background: linear-gradient( 128deg, #2B616D, #becfc5);
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    overflow: auto;
    border: inset;
    border-color: #cf8c46;
    min-width: fit-content;
}
#userWindow > ul > li {
    text-align:center;
    cursor:pointer;
    border-style: outset;
    margin-bottom: 5px;
    padding: 4px;
}

#loginWindow{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    align-items: center;
    background: linear-gradient(106deg, #2B616D, #9eafa5);
    background-size: 105%;
}

#setNickname{
    display:flex;
    flex-direction: column;
    width:100px;
    align-items: center;

}
#setNickname > input {
    width:100px;
}
#setNickname > button {
    width:50px;
}


#users {
    list-style-type: none;
    margin:0;
    padding: 10px;
}

#messages {
    list-style-type: none;
    margin:0;
    padding:20px;
}

#messages > li { 
    border: groove;
    padding: 15px;
    border-radius: 14px;
    width: fit-content;
    margin-bottom: 12px;
}


#form { z-index: 1; padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
#input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
#input:focus { outline: none; }
#form > button { background: #cf8c46; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }

#form,
#chat {
    display:none;
}

#site-title {
    color: #e1dcdc;
    font-size: 26px;
    font-family: monospace;
    letter-spacing: 10px;
}

@keyframes blink { 
    50% { border-color: #d97916 } 
 }
 #blink{ /*or other element you want*/
     animation-name: blink ;
     animation-duration: .3s ;
     animation-timing-function: step-end ;
     animation-iteration-count: infinite ;
     animation-direction: alternate ;
 }
